<h1>Galería</h1>

<p>¡Bienvenido/a {{fullName}}!</p>
<p>Rol del usuario: {{role}}</p>

<br>
<hr>

<h2>Listado de productos</h2>

<ul>
    {{#each products}}
    <li>
        {{this.title}} - {{this.price}} <button id="buttonAddToCart">Agregar al carrito</button>
    </li>
    {{/each}}
</ul>

<a href="/products/?pagina=1">Primer Página</a>
{{#if hasPrevPage}}
    <a href="/products/?pagina={{prevPage}}">Página Anterior</a>
{{/if}}
{{#if hasNextPage}}
    <a href="/products/?pagina={{nextPage}}">Página Siguiente</a>
{{/if}}
<a href="/products/?pagina={{totalPages}}">Última página</a>

<br>
<br>
<a href="/api/sessions/logout">Logout</a>